{% extends 'base.html.twig' %}

{% block title %}ListItems index{% endblock %}

{% block body %}
    <h1>ListItems index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Task</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for list_item in list_items %}
            <tr>
                <td>{{ list_item.id }}</td>
                <td>{{ list_item.label }}</td>
                <td>{{ list_item.getTaskList().getName() }}</td>

                <td>
                    <a href="{{ path('list_items_show', {'id': list_item.id}) }}">show</a>
                    <a href="{{ path('list_items_edit', {'id': list_item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('list_items_new') }}">Create new</a>
{% endblock %}
